body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pokemonList-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0
}

.pokemonList_li {
   margin: 10px; 
   width: 200px;
   flex: 1 0 240px
} 

ul {
  padding:0;
  list-style-type: none;
}

.moves-ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px
}
.pokeInfoGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}
/* .stats {
  grid-row: 1 / span 2; 
} */
.stats-ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}
